aiohttp                           
async-lru                         
async-timeout                    
asyncio                          
attrs        
backports.entry-points-selectable
certifi                           
cffi                              
chardet                           
charset-normalizer               
discord                          
discord.py                        
distlib                          
filelock                        
h5py                      
idna                             
Keras                          
keras-datasets                    
multidict                       
numpy                             
Pillow                            
platformdirs                      
pyaes                             
pycparser                         
PyNaCl                            
pyparsing                         
Pyrogram                          
PySocks                           
pyTelegramBotAPI                  
python-dateutil                  
PyYAML                              
requests                              
scipy                             
six                               
typing-extensions                
urllib3                           
virtualenv                        
yarl                              
youtube-dl





























